@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafd;
  --foreground: #101010;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}
